/* Estilos para los elementos básicos */

/* BOTONES */
.btn {
  border-radius: 10px;        /* Ajuste del radio del borde */
  padding: 10px 30px;        /* Ajuste del padding */
  font-size: var(--p2-size);           /* Ajuste del tamaño de fuente */
  text-decoration: none;
  transition: 0.3s background-color;
}

/* Estilos del BOTON BEIGE*/
.btn-beige {
  background-color: var(--beige-100); /* Nuevo color de fondo */
  color: var(--neutral-50); /* Color del texto */
  font-weight: var(--font-weight-medium);
}

.btn-beige:hover,
.btn-beige:focus,
.btn-beige:active {
  background-color: var(--neutral-50); /* Color de fondo en hover */
  border-color: var(--beige-100);     /* Color de borde en hover */
  color: var(--beige-100);            /* Color del texto en hover */
}

/* Estilos del BOTON AZUL*/
.btn-azul {
  background-color:  var(--azul-50); 
  color: var(--neutral-0); 
  font-weight: var(--font-weight-medium);
}

.btn-azul:hover,
.btn-azul:focus,
.btn-azul:active {
  background-color: var(--neutral-50); 
  border-color: var(--azul-50);     
  color: var(--azul-50);            
}

/* Estilos del BOTON BEIGE CLARO*/
.btn-beige-claro {
  background-color:  var(--neutral-50); 
  color: var(--beige-100); 
  font-weight: var(--font-weight-medium);
} 

.btn-beige-claro:hover,
.btn-beige-claro:focus,
.btn-beige-claro:active {
  background-color: var(--beige-100); 
  border-color: var(--beige-50);     
  color: var(--neutral-50);            
}
/* CARDS */









